html {
  font-family: sans-serif;
  padding: 10px;
}

body {
  padding: 15px;
  display: block;
  margin: auto;
  max-width: 66ch;
  visibility: hidden;
}

p {
  text-align: center;
}

ul, ol {
  padding-left: 1em;
}

ol li {
  margin-bottom: 1em;
}

button {
  padding: 12px 20px 12px 20px;
  margin-top: 15px;
  background: #418CFD;
  width: auto;
  border: none;
  border-radius: 15px;
  color: rgb(245, 245, 245);
  font-size: 12px;
  font-weight: 700;
  letter-spacing: .1rem;
  text-align: center;
  outline: none;
  cursor: pointer;
  transition: .2s ease-in-out;
  box-shadow: -6px -6px 14px rgba(218, 218, 218, 0.7),
              -6px -6px 10px rgba(255, 255, 255, .5),
              6px 6px 8px rgba(255, 255, 255, .075),
              6px 6px 10px rgba(0, 0, 0, 0.121);
}
button:hover {
  box-shadow: -2px -2px 6px rgba(255, 255, 255, .6),
              -2px -2px 4px rgba(255, 255, 255, .4),
              2px 2px 2px rgba(255, 255, 255, .05),
              2px 2px 4px rgba(0, 0, 0, .1);
}
button:active {
  box-shadow: inset -2px -2px 6px rgba(255, 255, 255, .7),
              inset -2px -2px 4px rgba(255, 255, 255, .5),
              inset 2px 2px 2px rgba(255, 255, 255, .075),
              inset 2px 2px 4px rgba(0, 0, 0, .15);
}

label {
  display: block;
  font-variant: small-caps;
  margin-bottom: 5px;
}

summary {
  font-variant: small-caps;
  margin-bottom: 5px;
  user-select: none;
}

input, textarea {
  padding: 10px;
  border: 0.5px solid black;
  border-radius: 3px;
  margin-bottom: 15px;
  box-sizing: border-box;
  width: 100%;
  resize: none;
  font-family: sans-serif;
}

input[type="checkbox"] {
  cursor: pointer;
  margin-right: 0;
}

hr {
  margin-top: 3em;
  margin-bottom: 3em;
  border: 0;
  border-top: 0.5px solid rgba(200, 200, 200, 1);
}

footer hr {
  margin-bottom: 1em;
  border-top: 0.5px solid black;
}

footer p {
  text-align: center;
}

*[aria-disabled="true"] {
  pointer-events: none;
  cursor: not-allowed;
  user-select: none;
}

code {
  font-family: monospace, monospace;
  padding: 0 3px;
}


/*******************************************************************************
 * Classes
 ******************************************************************************/

/* View on GitHub SVG ribbon */
@media (max-width: 100ch) {
  .ribbon {
    width: 100px;
    height: 100px;
  }
}

.ribbon {
  position: absolute;
  top: 0;
  right: 0;
}


/* Error area */
.red-border {
  border: 3px solid #428BFD;
  border-radius: 15px;
  margin-top: 30%;
  padding: 2em;
}

#yt {
  margin-top: 10%;
  border-radius: 10px;
  aspect-ratio: 16 / 9;
  max-width: 560;
  width: 100%;
}

.error, .error p {
  text-align: center;
  font-weight: bold;
  color: #4C515F;
}

.collapsible {
  background-color: #4d5260d7;
  padding: 0 18px 0 18px;
  border-radius: 10px !important;
  font-size: small !important;
  margin-left: 50%;
  transform: translateX(-50%);
  color: white;
  cursor: pointer;
  max-width: 400px;
  width: auto;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #4D5260;
}

.content {
  width: auto;
  display: none;
  padding: 0 18px;
  overflow: hidden;
  margin-top: 10px;
  border-radius: 7px;
  font-size: smaller;
  color: #4d5260d7;
  background-color: #f1f1f1;
}

/* Password & Confirm Password inputs */
.split-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.password {
  flex: 1;
  border-radius: 15px;
}

.confirm-password {
  flex: 1;
  margin-left: 20px;
}



/* Advanced settings */
#advanced-label {
  cursor: pointer;
  margin-bottom: 10px;
}

.advanced {
  display: flex;
  flex-flow: row wrap;
}

.advanced .labeled-input {
  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: flex-end;
}

.advanced .labeled-input label {
  width: auto;
  margin-right: 20px;
  white-space: nowrap;
  cursor: pointer;
}

.advanced .labeled-input input {
  width: auto;
  margin-right: 5px;
}


/* Output area */
.output input {
  background: rgba(235, 235, 235, 1);
}

.alert {
  opacity: 0;
  transition: opacity 0.25s;
}


/* Bookmarks that look like buttons, but different */
.bookmark {
  padding: 11px;
  background: none;
  color: rgb(95, 158, 160);
  border: 3px solid;
  border-radius: 5px;
  font-weight: bold;
  text-decoration: none;
  margin-top: 5px;
  margin-right: 5px;
  cursor: pointer;
  display: inline-block;
  margin: auto;
  text-align: center;
}

.bookmark:hover {
  background: rgb(95, 158, 160);
  color: white;
  border: 3px solid rgb(95, 158, 160);
}

.bookmark[aria-disabled="true"] {
  background: rgba(235, 235, 235, 1);
  color: gray;
}

/* Buttons on the same line as inputs */
.inline-button-container {
  display: flex;
  width: 100%;
}

.inline-button-container * {
  margin: 5px;
}

.inline-button-container input {
  margin-left: 0;
}

